 header {
    background-color: #333333;
 }
 body {
    margin: 0;
    padding: 0;
    background-color: #efeee7;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #333333;
    line-height: 1.5;
  }
 

 h1 {
      text-align: center;
      color: #eee;
  }
  h2 {
      font-size: 24;
  }
  .container{
     width: 1024px;
     margin:0 auto;
  }
  #main-bio{
     float: left;
     width: 70%;
  }
  #contact-info{
    float: left;
    width: 30%;
  }

  #bio-image {
      float: left;
      width: 200px;
      height: 200px;
      margin-right: 5%;
  }

  /* unvisited link */
 a:link {
    color: #d21034;
 }
  
  /* visited link */
 a:visited {
    color: green;
 }
  